.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
}

.form {
    background: lightgrey;
    border-radius: 25px;
    border: 3px solid black;
    height: 350px;
}

.domain-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 50px;
}

.button {
    margin-top: 20px;
}